/*common css start*/
body{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}
/*common css end*/
/*header start*/
header{
	border: .1px solid antiquewhite;
	padding:15px 0;
	
}
.wrapper{
	overflow: hidden;
	margin: -10px auto;
	width: 90%;
    /*border: 1px solid red;*/
}
.logo{
	float: left;
	width: 10%;
	/*border: 1px solid black;*/
}
.logo img{
	width: 100%;
}
.menu{
	margin-top: 2px;
	float: right;
	width: 55%;
    /*border: 1px solid black;*/
}
.menu ul{
	float: right;
	/*overflow: hidden;*/	
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	padding: 0px 25px;
	display: inline-block;
	color: #0F2656;
}
.menu ul li a:hover{
	color: #008AFF;
}
.menu ul li:last-child a{
	padding-right: 0;
}
/*header end*/
/*banner start*/
.banner{
	padding: 70px 0;
	/*border: 1px solid red;*/
}
.wrapper2{
	margin: 0 auto;
	width: 60%;
	/*border: 1px solid red;*/

}
.b_content{
	text-align: center;

}
.b_h1{
	margin: 0;
	font-size: 65px;
	color: #0F2656;
	line-height: 90px;

}
.b_span{
	color: #008AFF;

}
.b_text{
	margin: 15px 0;
	font-size: 18px;
	color: #0F2656;

}
.b_img{
	margin:0 auto;
	width:80%;
	/*border: 1px solid red;*/
	

}
.b_img img{
	
	width: 100%;
	transition: .3s;

}
.b_img img:hover{
	transform: scale(.8);
}
/*banner end*/
/*success start*/
.success{
	padding: 60px 0;
}
.s_content{
	overflow: hidden;
}
.s_left{
	/*border: 1px solid black;*/
	width: 44%;
	float:left;
	text-align: right;
	padding: 0 10px 0 30px;
}
.s_left h2{
	color: #F15767;
	margin: 0;
	font-size: 50px;
}
.s_left p{
	margin: 0;
	font-size: 16px;
	color: #0F2656;
	line-height: 25px; 
}
.s_right{
	/*border: 1px solid black;*/
	width: 46%;
	float:right;
	padding: 0 30px 0 10px;
}
.s_right h1{
	margin: 0;
	font-size: 43px;
	color: #0F2656;
}
/*success end*/
/*service start*/
.service{}
.s_wrapper{}
.s_single{
	width: 27%;
	/*border: 1px solid red;*/
	padding: 60px 2.1%;
	float: left;
	margin-right: 3.2%;

}
.s_single:last-child{
	margin-right: 0;
}
.pink{
	background-color: #F4F5F4;
}
.green{
	background-color: #EBF9F4;

}
.yellow{
	background-color: #FFF7E8;

}
.s_img{

}
.s_img img{
	width: 100%;
}

.s_h2{
	color:#0F2656;
	margin:15px 0;
	font-size: 20px;
}
.s_text{
	color:#0F2656;
	line-height: 25px;
	font-size: 16px;
	margin: 0;
	
}
/*service end*/
/*footer start*/
.wrapper3{
    width: 90%;
    margin: 0 auto;
}
#footer{
    background-color: #008AFF;
    margin-top: 60px;

    padding: 10px 0;
    text-align: center;
    
}
.footer-content p{
    font-size: 15px;
    color: white;
}


/*footer end*/

